button { 
    font: var(--font-cuerpo);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 1px rgb(0,0,0,0,5);
    color: var(--font-color);
    background-color: var(--color-principal);

}

button:hover{
    background-color: var(--font-color);
    color: var(--color-principal);
}