*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: var(--color-principal);
}

header .logo{
    background-color: var(--font-color);
    color: var(--color-secundario);
    padding: 25px 30px;
    font-weight: bold;
    font-size: var(--font-size-h1);
}

header .container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;

}

header a{
    padding: 15px 12px;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-secundario);
}

header a:hover {
    color: var(--font-color);
}

#perfil { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/portada.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#perfil .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--font-color);
    font-weight: bold;
    width: 15em;
    gap: 1em;
}